.container {
  width: 75%;
  margin: 2% auto;
  display: flex;
  flex-direction: column;
}

.results__title {
  text-align: center;
}

.search {
  grid-area: search;
  margin: 0 auto;
}

.result {
  grid-area: result;
}

.faves {
  grid-area: faves;
}

.results__output,
.faves {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.results__output div {
  height: 200px;
  width: auto;
}

.card {
  margin: 1vh 1vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.card__info {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.6);
  visibility: hidden;
}

.card__name {
  text-align: center;
  font-size: 1em;
}

.fa-star {
  font-size: 1.5em;
}
